{% extends 'app/base.html' %} 
{% load static %} 
{% block foto-home %}

{% endblock %}

{% block contenido %}

{% load crispy_forms_tags %}
{% load humanize %}


<div class="container w-100 w-md-90 w-lg-90  mt-5 rounded shadow mb-5">
    
        <div class="col-12 col-md-12  bg-white p-5 rounded-end">
            <h2 class="fw-bold text-center py-5">PRODUCTOS</h2>
           <table class="table table-striped">
               <tr>
                    <th>Cod Producto</th>
                    <th>Descripción</th>
                    <th>Fecha Vencimiento</th>
                    <th>Stock</th>
                    <th>Stock Critico</th>
                    <th>Precio</th>
                    <th>Cod Proveedor</th>
                    <th>Cod Familia</th>
                    <th>Cod Tipo Producto</th>
                    <th>Opciones</th>
                </tr>
               {% for e in form %}

               <tr>
                   <td>{{ e.cod_producto | title }}</td>
                   <td>{{ e.descripcion | title }}</td>
                   <td>{{ e.fecha_vencimiento | title }}</td>
                   <td>{{ e.stock | title }}</td>
                   <td>{{ e.stock_critico | title }}</td>
                   <td> ${{ e.precio | intcomma }}</td>
                   <td>{{ e.cod_proveedor | title }}</td>
                   <td>{{ e.cod_familia | title }}</td>
                   <td>{{ e.cod_tipo_producto | title }}</td>
                   <td>
                       <a href="{% url 'modificarProducto' e.cod_producto %}" class="btn btn-info btn-sm">Editar</a>
                    <h6></h6>
                       <a href="{% url 'eliminarProducto' e.cod_producto %}"class="btn btn-danger btn-sm">Eliminar</a>
                   </td>

               </tr>
               {% endfor %}
           </table>
           
        </div>
    </div>
</div>



 {% endblock %}

