{% extends 'app/base.html' %}

{% load static %}


{% block js %}
<script src="{% static 'app/js/js.js' %}"></script>
{% endblock %}

{% load crispy_forms_tags %}

{% block contenido %}

<div class="container w-100 w-md-85 w-lg-75 bg-grey mt-5 rounded shadow mb-4">
    <div class="row align-items-stretch">
        <div class="col-md-6 align-items-center justify-content-center vh-75  row">
            <img src="{% static 'app/imgs/logoregistro.jpg'%}" alt="">
      </div>
        <div class="col bg-white p-5 rounded-end">
            <h2 class="fw-bold text-center py-5">Ingresa tus datos</h2>
            <form action="#" method="post">

                {% csrf_token %}

                {{ form | crispy }}
          
                
                
                <br>
                <div class="d-grid">
                    <!-- <a href="{% url 'userPass' %}"><button type="button" class="btn btn-warning">Guardar Datos</button></a> -->
                    <input type="submit"  class="btn btn-warning" value="Guardar Datos">
                </div>
                <div class="my-3">
                    <span>Ya tengo una Cuenta? <a href="">Login</a></span><br>
                    
                </div>
            </form>
            <!-- <div class="container w-100 my-5">
              <div class="row text-center">
                  <div class="col-12">Registrate</div>
              </div> -->
              <!-- <div class="row">
                  <div class="col">
                      <button class="btn btn-outline-primary w-100 my-1">
                          <div class="row align-items-center">
                              <div class="col-2 d-none d-lg-block">
                                  <img src="{% static 'app/imgs/facebook.png'%}" width="32" alt="">
                              </div>
                              <div class="col-12 col-md-10 text-center">
                                  Facebook
                              </div>
                          </div>
                      </button>
                  </div>
                  <div class="col">
                      <button class="btn btn-outline-danger w-100 my-1">
                          <div class="row align-items-center">
                              <div class="col-2 d-none d-lg-block">
                                  <img src="{% static 'app/imgs/google.png'%}" width="32" alt="">
                              </div>
                              <div class="col-12 col-md-10 text-center">
                                  Google
                              </div>
                          </div>
                      </button>
                  </div>
              </div> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}