
body{
    background: #ffe259;
    background: linear-gradient(to right, #fba9577c, #ddc653ad);
}
/*
    linear-gradient(to right, #ffa751, #ffe259);


#logo{
    color: black;
}

<<<<<<< HEAD
*/

/*margins*/

nav{
    margin-bottom: 1rem;
}

#carouselExampleIndicators{

    margin-top: 1rem;
}

/*end margins*/

.rolempresa{
    display: none;
}


.bg{
    background-image: url(../imgs/img-inicio-sesion.jpg );
    background-repeat: unset;
    background-position: center center;
}
  
#contenido{
    height: auto;
    
}



/* Colors for the base */
.titleColor{
    color: #ffffff !important;
  
}

.navColor{

    background-color: #212529;
}