
body {
    background: #eeede8;
    background: linear-gradient(to right, #c2bdb87c, #f3f2efad);
    margin: 0;
    margin-bottom: 40px;
}

/* Esto alineara los textos dentro de cualquier formulario tanto vertical*/

.aliniarElements{
vertical-align: center;
}


nav{
    margin-bottom: 1rem;
}

#carouselExampleIndicators{

    margin-top: 1rem;
}

/*end margins*/

.rolempresa{
    display: none;
}

.bg{

    height: 100vh;
}

  
#contenido{
    height: auto;
    
}



/* Colors for the base */
.titleColor{
    color: #ffffff !important;
  
}

.navColor{

    background-color: #212529;
}
