{% extends 'app/base.html' %} 
{% load static %} 
{% block foto-home %}

{% endblock %}

{% block contenido %}

{% load crispy_forms_tags %}
{% load humanize %}


<div class="container w-100 w-md-90 w-lg-90  mt-5 rounded shadow mb-5">
    
        <div class="col-12 col-md-12  bg-white p-5 rounded-end">
            <h2 class="fw-bold text-center py-5">CLIENTES</h2>
           <table class="table table-responsive table-bordered table-hover cell-border">
               <tr class="table-danger">
                    <th class="text-center aliniarElements">Rut</th>
                    <th class="text-center aliniarElements">Nombres</th>
                
                    <th class="text-center aliniarElements">Apellidos</th>
                    
                    <th class="text-center aliniarElements">Celular</th>
                    <th class="text-center aliniarElements">Email</th>
                    <th class="text-center aliniarElements">Direccion</th>
                    <th class="text-center aliniarElements">Comuna</th>
                    <th class="text-center aliniarElements">Opciones</th>
                </tr>
               {% for c in clientes %}

               <tr>
                   <td class="text-center aliniarElements">{{ c.run_cliente | title }} {{ c.dvrun | title}}</td>
                   <td class="text-center aliniarElements">{{ c.pnombre | title }} {{ c.snombre | title}}</td>
                   <td class="text-center aliniarElements">{{ c.appaterno | title }} {{ c.apmaterno | title}}</td>
                   <td class="text-center aliniarElements">{{ c.celular | title }}</td>
                   <td class="text-center aliniarElements">{{ c.correo | title }}</td>
                   <td class="text-center aliniarElements">{{ c.direccion | title }}</td>
                   <td class="text-center aliniarElements">{{ c.id_comuna | title }}</td>
                   <td class="text-center aliniarElements">

                    <div>

                        <a href="{% url 'modificarCliente' c.run_cliente %}"  class="btn btn-info btn-sm">Editar</a>
                         {% if user.is_superuser %}
                         &nbsp;
                        <a href="{% url 'eliminarCliente' c.run_cliente %}"  class="btn btn-danger btn-sm">Eliminar</a>
                         {% endif %}
                    </div>
                    
                   </td>

               </tr>
               {% endfor %}
           </table>
           
        </div>

        
    </div>
</div>



 {% endblock %}

