{% extends 'app/base.html' %} 
{% load static %} 
{% block foto-home %}
<div class="ratio" style="--bs-aspect-ratio: 40%">
	<img class="col-12-sm" src="{% static 'app/imgs/foto-home.jpg'%}" alt="" />
</div>
{% endblock %}

{% block contenido %}

<!-- Search-->
<div class="container-fluid">
	<div class="row">
		<div class=" col-4">
			<label for="">Icon</label>
		</div>
		<div class="text-center col-4">
			<input type="text" class="form-control" placeholder="Buscar productos">
		</div>
		<div class=" col-4">
				<button class="btn btn-secondary">Buscar</button>
		</div>
	</div>
</div>	

<!-- slider -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img style="background-color: black;" class="d-block w-100" alt="...">
	  </div>
	  <div class="carousel-item">
		<img style="background-color: blue;" src="..." class="d-block w-100" alt="...">
	  </div>
	  <div class="carousel-item">
		<img style="background-color: white;" src="..." class="d-block w-100" alt="...">
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>



  <!-- Menu left -->
  <br>
  <div class="containter-fluid">
	  <div class="row col-12">
		<div class="col-4">
			<h5>Categorias</h5>
				<ul class="nav flex-column">
				<li class="nav-item"><a href="" class="nav-link">Producto 1</a></li>
				<li class="nav-item"><a href="" class="nav-link">Producto 1</a></li>
				<li class="nav-item"><a href="" class="nav-link">Producto 1</a></li>
				<li class="nav-item"><a href="" class="nav-link">Producto 1</a></li>
			</ul>
		</div>
    <div class="col-8 col-md-10 offset-1">

      <h1 class="m-auto">Productos</h1>

    </div>
	</div>

  
  </div>

 {% endblock %}
